https://github.com/pyexcel/pyexcel-io/archive/master.zip
https://github.com/jayvdb/pyexcel-xls/archive/master.zip
xlwt;python_version<"3"
xlwt-future;python_version>="3"
https://github.com/pyexcel/pyexcel-xlsx/archive/master.zip
https://github.com/pyexcel/pyexcel-ods3/archive/master.zip
